@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Colors for the Document */
:root {
  --card-price-button-color: hsl(158, 36%, 37%);
  --main-bg-color: hsl(30, 38%, 92%);
  --card-bg-color: hsl(0, 0%, 100%);
  --component-text-color: black;
  --blue: hsl(212, 21%, 14%);
  --blue1: hsl(228, 12%, 48%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.product-container {
  max-width: 37rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
  margin: 1em;
}

.product-image {
  width: auto;
  height: auto;
  max-width: 18.5rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

.product {
  padding: 2rem;
  max-width: 18.5rem;
}

.product-type {
  letter-spacing: 0.26rem;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500, 700;
  font-size: 10px;
}
.product-title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1;
}
.product-description {
  margin-top: 1rem;
  padding-right: 0.5rem;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

.product-discount-price {
  color: var(--card-price-button-color);
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  vertical-align: middle;
}
.product-actual-price {
  font-size: 1.25rem;
  margin-left: 1rem;
  text-decoration: line-through;
  vertical-align: middle;
}

.product-button {
  margin-top: 2rem;
  padding: 1rem;
  width: 14rem;
  border: 0;
  background-color: var(--card-price-button-color);
  color: var(--card-bg-color);
  font-size: 14px;
  border-radius: 0.5rem;
  vertical-align: middle;
}

.product-button::before {
  content: url("/images/icon-cart.svg"); /* Replace with the path to your SVG icon file */
  margin-right: 5px;
  vertical-align: middle;
}

/* desktop view */
@media (min-width: 768px) {
  .product-image img {
    content: url(/images/image-product-desktop.jpg);
    
  }
}

/* mobile view */
@media (max-width: 767px) {
  .product-image img {
    content: url(/images/image-product-mobile.jpg);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .product-container {
    flex-direction: column;
    max-width: 43rem;
  }
  .product-image {
    width: auto;
    height: auto;
    max-width: 21.5rem;
  }
  .product {
    padding: 1.5rem;
    max-width: 21.5rem;
  }
  
  .product-type {
    letter-spacing: 0.26rem;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500, 700;
    font-size: 10px;
  }
  
  
  
 
  
  .product-button {
    margin-top: 2rem;
    padding: 1rem;
    width: 18.5rem;
    border: 0;
    background-color: var(--card-price-button-color);
    color: var(--card-bg-color);
    font-size: 14px;
    border-radius: 0.5rem;
    vertical-align: middle;
  }
  
  .product-button::before {
    content: url("/images/icon-cart.svg"); /* Replace with the path to your SVG icon file */
    margin-right: 5px;
    vertical-align: middle;
  }
}
